# if -elif -else

In [1]:
a, b = 33, 200

if b > a:
  print("b is greater than a")

b is greater than a

In [2]:
a, b = 33, 20

if b > a:
  print("b is greater than a")
else:
  print("b is smaller than a")

b is smaller than a

In [3]:
a, b = 33, 33

if b > a:
  print("b is greater than a")
elif a == b:
  print("b is equal to a")

b is equal to a

In [4]:
a, b, c = 33, 80, 50

if b > a:
   print("b is greater than a")
if b > c:
   print("b is also greater than c")
else:
   print("b is smaller")

b is greater than a
b is also greater than c

In [5]:
a, b, c = 33, 80, 50

if b > a:
  print("b is greater than a")
elif b > c:
  print("b is also greater than c")
else:
  print("b is smaller")

b is greater than a

In [6]:
a, b, c = 100, 80, 50

if a > b: print("a is greater than b")

a is greater than b

In [7]:
a = 2
b = 330

print("b is smaller than a") if a > b else print("b is greater than a")

b is greater than a

In [8]:
a = 330
b = 330

print("a is greater") if a > b else print("=") if a == b else print("b is greater")

=

In [9]:
if a > b:
    print("a is greater")
else:
    if a == b:
        print("=")
    else:
        print("b is greater")

=

### not  in if condition

In [10]:
a, b = 2, 5

if not a > b:
    print("a is greater")

a is greater

### nested if

In [11]:
a, b = 2, 5

if a < b:
    if a%2 == 0:
        print("a is smaller than b and also even number")
    else:
        print("a is smaller than b and it is odd number")
else:
    print("a is not smaller than b")

a is smaller than b and also even number

In [12]:
if 1:
    print("Hello")

Hello

In [13]:
if "sai":
    print("Hello")

Hello

In [14]:
if True:
    print("Hello")

Hello

In [15]:
if 0:
    print("Hello")

In [16]:
if "":
    print("Hello")

In [17]:
if False:
    print("Hello")

In [18]:
if "sai":
    pass

In [19]:
day = 4

if day == 1:
    print("Monday")
elif day == 2:
    print("Tuesday")
elif day == 3:
    print("wednesday")
elif day == 4:
    print("Thursday")
elif day == 5:
    print("Friday")
elif day == 6:
    print("Saturday")
elif day == 7:
    print("Sunday")
else:
    print("Not a valid Number")

Thursday

In [20]:
day = 4

match day:
    case 1:
        print("Monday")
    case 2:
        print("Tuesday")
    case 3:
        print("Wednesday")
    case 4:
        print("Thursday")
    case 5:
        print("Friday")
    case 6:
        print("Saturday")
    case 7:
        print("Sunday")

Thursday

# Loops
* for loop
* while loop

In [21]:
i = 1

while i < 6:
    print(i)
    i += 1

1
2
3
4
5

In [22]:
i = -1

while i > -6:
    print(i)
    i -= 1

-1
-2
-3
-4
-5

In [23]:
i = 0

while i < 10:
    i += 1
    if i == 5:
        break
    print(i)

1
2
3
4

In [24]:
i = 0

while i < 10:
    i += 1
    if i == 5:
        continue
    print(i)

1
2
3
4
6
7
8
9
10

In [25]:
for i in range(5):
    print(i)

0
1
2
3
4

In [26]:
for i in range(3, 10):
    print(i)

3
4
5
6
7
8
9

In [27]:
for i in range(3, 30, 3):
    print(i)

3
6
9
12
15
18
21
24
27

In [28]:
for i in range(5, 50, 5):
    if i == 25:
        print("Silver Juiblee")
        continue
    print(i)

5
10
15
20
Silver Juiblee
30
35
40
45

In [29]:
for i in range(5, 50, 5):
    if i == 25:
        print("Silver Juiblee")
        break
    print(i)

5
10
15
20
Silver Juiblee

In [30]:
for i in "sai":
    print(i)

s
a
i

In [31]:
l = ["sai", "preetham", "krishna"]

for i in l:
    print(i)

sai
preetham
krishna

### nested for loop

'''
s
a
i

p
r
e
e
t
h
a
m

k
r
i
s
h
n
a
krishna
'''

In [32]:
l = ["sai", "preetham", "krishna"]

for i in l:
    for j in i:
        print(j)
    print()

s
a
i

p
r
e
e
t
h
a
m

k
r
i
s
h
n
a

In [33]:
for x in range(6):
   print(x)
print("Finally finished!")

0
1
2
3
4
5
Finally finished!

In [34]:
for i in range(1,11):
    if i == 50:
        continue
else:
    print(i)

10

In [35]:
for x in range(6):
    if x == 3:
        break
    print(x)
print("Finally finished!")

0
1
2
Finally finished!

In [36]:
for x in range(6):
    if x == 10:
        break
    print(x)
print("Finally finished!")

0
1
2
3
4
5
Finally finished!

In [37]:
for x in range(6):
    if x == 3:
        break
    print(x)
else:
    print("Finally finished!")

0
1
2

In [38]:
for x in range(6):
    if x == 10:
        break
    print(x)
else:
    print("Finally finished!")

0
1
2
3
4
5
Finally finished!

### print statement features
* sep
* end

In [39]:
x, y = 10, 20

print(x)
print(y)

10
20

In [40]:
x, y = 10, 20

print(x, end = "*")
print(y)

10*20

In [41]:
x, y = 10, 20

print(x, end = "*")
print(y)
print("Hello")

10*20
Hello

In [42]:
x, y = 10, 20

print(x, y)
print(x, end = "*")
print(y, end = "+")
print("Hello")

10 20
10*20+Hello

In [43]:
print(x, y, "sai", sep=" * ")

10 * 20 * sai

In [44]:
x, y, z = 11, 22, 33

print(x, y, z, sep=" + ", end=" * ")
print("Sai Preetham")

11 + 22 + 33 * Sai Preetham