# Tuples

In [1]:
temp = tuple((1,2,3,4))

print(temp, type(temp))

(1, 2, 3, 4) <class 'tuple'>

In [2]:
temp1 = (1)
temp2 = (1,)
temp3 = ("sai")

print(type(temp1))
print(type(temp2))
print(type(temp3))

<class 'int'>
<class 'tuple'>
<class 'str'>

### Update Tuples

In [3]:
students = ("Sai Preetham", "Anajana", "Sharmila", "Pavani", "Krishna", "Tejaswari")

In [4]:
# students.append("sai")
# students.extend("sai")

In [5]:
students = ("Sai Preetham", "Anajana", "Sharmila", "Pavani", "Krishna", "Tejaswari")
std1 = ("Thanmayi",)

print(students + std1)

('Sai Preetham', 'Anajana', 'Sharmila', 'Pavani', 'Krishna', 'Tejaswari', 'Thanmayi')

In [6]:
students = ("Sai Preetham", "Anajana", "Sharmila", "Pavani", "Krishna", "Tejaswari")

print(students + ("Thanmayi",))

('Sai Preetham', 'Anajana', 'Sharmila', 'Pavani', 'Krishna', 'Tejaswari', 'Thanmayi')

* concat list and tuple ---> output should be a tuple

In [7]:
students = ("Sai Preetham", "Anajana", "Sharmila", "Pavani", "Krishna", "Tejaswari")
ages = [24, 20, 21, 19]

In [8]:
print(list(students) + ages)
print(tuple(list(students) + ages))

['Sai Preetham', 'Anajana', 'Sharmila', 'Pavani', 'Krishna', 'Tejaswari', 24, 20, 21, 19]
('Sai Preetham', 'Anajana', 'Sharmila', 'Pavani', 'Krishna', 'Tejaswari', 24, 20, 21, 19)

### unpacking tuples

In [9]:
students = ("Sai Preetham", "Anajana", "Tejaswari")

x, y, z = students

print(z)

Tejaswari

* Print only the integers without duplictaes and sort them in a descending order

In [10]:
L = [5, 2, 78, "54", 34.7, "98sp", "2", 78]

res=[]
for x in L:
    if type(x)==int and x not in res:
        res.append(x)

'''
x = 5, res = [5]
x = 2, res = [5,2]
x = 78, res = [5,2,78]
x = "54", res = [5,2,78]
x = 34.7, res = [5,2,78]
x = "98sp", res = [5,2,78]
x = "2", res = [5,2,78]
x = 78, res = [5,2,78]
'''

print(res)

res.sort()
print(res)

res.sort(reverse=True)
print(res)

[5, 2, 78]
[2, 5, 78]
[78, 5, 2]

In [11]:
# L = [5, 2, 78, "54", 34.7, "98sp", "2", 78]

# result = [ele for ele in L if type(ele)==int and ele not in result]
# print(result)