# Title 1
## Title 2
### Title 3

In [1]:
print("Hello Sai")

Hello Sai

In [2]:
x = 5

print(x)

5

In [3]:
student_name = "Sai Preetham"

print(student_name)

Sai Preetham

### not to use :

* variable should not start with a number ---> 123_abc = 35
* variable should not start with a special character ---> @first_name = "sai"
* variable should not contain any space ---> first name

In [4]:
a = "sai"
b = "krishna"

print(a,b)

sai krishna

In [5]:
x = 5
y = "sai preetham"

print("x :", x)
print(y)

x : 5
sai preetham

In [6]:
x = 5
y = "sai preetham"

print("x :",x,"\n",y)

x : 5
 sai preetham

In [7]:
x = 20
y = 30

print(x+y)

50

In [8]:
first_name = "Sai Preetham"
last_name = "Udumula"

print(first_name + " " + last_name)

Sai Preetham Udumula

### Data Types

In [9]:
s = "3"

print(type(s))

<class 'str'>

In [10]:
s1 = 3
s2 = "s"
s3 = "sai"
s4 = 7.8
s5 = True

print(type(s1))
print(type(s2))
print(type(s3))
print(type(s4))
print(type(s5))

<class 'int'>
<class 'str'>
<class 'str'>
<class 'float'>
<class 'bool'>

### Type casting

In [11]:
s1 = 4.6
s2 = int(s1)

print(s2)

4

In [12]:
s1 = 2
s2 = float(s1)

print(s2)

2.0

In [13]:
s1 = 5.6
s2 = str(s1)

print(s2, type(s2))

5.6 <class 'str'>

In [14]:
s1 = "10.5"
print(type(s1))

s2 = float(s1)
print(s2)

s3 = int(s2)
print(s3)

<class 'str'>
10.5
10

In [15]:
s1 = "3.5"
s2 = int(float(s1))

print(s3)

10

### Try to un-comment the code and run the cell and see the output.

In [16]:
# s1 = "sai"
# s2 = float(s1)

# print(s2)

In [17]:
# print('Hi, I'm working in Virtusa.')

In [18]:
s1, s2 = 2, 3.5

print(type(s1), type(s2))

<class 'int'> <class 'float'>

### Numbers

In [19]:
a, b, c = 2.3e1, -0.45e3, 1e1          # e1 ---> 10 power 1 ---> 10, 2.3e1 ---> 2.3 * 10 = 23

print(a)
print(b)
print(c)

23.0
-450.0
10.0

In [20]:
x, y, z = 2+5j, 5j, 2

print(x, type(x))
print(y, type(y))
print(z, type(z))

(2+5j) <class 'complex'>
5j <class 'complex'>
2 <class 'int'>