# Functions

### creating a function

In [1]:
def add_to_numbers():
    pass

### call the function

In [2]:
print(add_to_numbers())

None

In [3]:
def add_to_numbers():
    print("Hello World!")

add_to_numbers()

Hello World!

In [4]:
def add_to_numbers():
    return "Bye"

print(add_to_numbers())

Bye

In [5]:
def add_to_numbers():
    print("Hello World!")
    return "Bye"

print(add_to_numbers())

Hello World!
Bye

In [6]:
def student_name(s):
    return s

print(student_name("preetham"))

preetham

In [7]:
std1 = "sai"
std2 = "prasanna"
std3 = "kishore"
std4 = "swathi"
std5 = "priya"

print(std1.upper())
print(std2.upper())
print(std3.upper())
print(std4.upper())
print(std5.upper())

SAI
PRASANNA
KISHORE
SWATHI
PRIYA

In [8]:
def student_name(s):
    return s.upper()

print(student_name(std1))
print(student_name(std2))
print(student_name(std3))
print(student_name(std4))
print(student_name(std5))

SAI
PRASANNA
KISHORE
SWATHI
PRIYA

In [9]:
def student_name(s):
    return s.upper() + "Preetham"

print(student_name(std1))

SAIPreetham

In [10]:
def student_name(s):
    return (s + "Preetham").upper()

print(student_name(std1))

SAIPREETHAM

In [11]:
def add_two_numbers(a, b):
    return a + b

print(add_two_numbers(5, 4))

9

In [12]:
def add_multiple_numbers(*x):
    return x

print(add_multiple_numbers(1,2,3,4,5,6,7,8,9,10))

(1, 2, 3, 4, 5, 6, 7, 8, 9, 10)

In [13]:
def add_multiple_numbers(*x):
    return x

print(add_multiple_numbers(1,2,3,4,5,6,7,8,9,10))
print(add_multiple_numbers(11,22,33))

(1, 2, 3, 4, 5, 6, 7, 8, 9, 10)
(11, 22, 33)

In [14]:
def add_multiple_numbers(*x):
    res = 0
    for i in x:
        res += i

    return f"Sum of all the values : {res}"

print(add_multiple_numbers(1,2,3,4,5,6,7,8,9,10))
print(add_multiple_numbers(11,22,33))

Sum of all the values : 55
Sum of all the values : 66

In [15]:
def convert_multiple_values_to_upper(*s):
    res = []
    for i in s:
        temp = i.upper()
        res.append(temp)

    return res

print(convert_multiple_values_to_upper("sai", "preetham", "kishore", "subha"))

['SAI', 'PREETHAM', 'KISHORE', 'SUBHA']

In [16]:
def convert_multiple_values_to_upper(*s):
    return [i.upper() for i in s]

print(convert_multiple_values_to_upper("priya", "suresh", "lavanya", "omkar"))

['PRIYA', 'SURESH', 'LAVANYA', 'OMKAR']