# List

In [1]:
# std1 = "sai"
# std2 = "anjana"
# std3 = "sharmila"
# std4 = "pavani"

### creating list with elements

In [2]:
temp = list((1,2,3,4))

print(temp)

[1, 2, 3, 4]

In [3]:
students = ["Sai Preetham", "Anajana", "Sharmila", "Pavani", "Krishna", "Tejaswari"]
ages = [24, 20, 21, 19]

emp_details = ["Sai Preetham", 25, "90.24k", "+918106338469", "Willos-536, Rain Tree Park, Dwaraka Krishna, Guntur"]

In [4]:
len(students)

6

### accessing elements using indexing

In [5]:
print(students[0])
print(students[-1])

Sai Preetham
Tejaswari

### accessing elements using slicing

In [6]:
print(students[0:2])
print(students[-3:])
print(students[-3:-1])
print(students[-1:-4])

['Sai Preetham', 'Anajana']
['Pavani', 'Krishna', 'Tejaswari']
['Pavani', 'Krishna']
[]

In [7]:
print(ages)

[24, 20, 21, 19]

In [8]:
if 25 in ages:
    print("He entered into silver jubilee")
else:
    print("No one with the age 25.")

No one with the age 25.

In [9]:
if 25 in emp_details:
    print("He entered into silver jubilee")
else:
    print("No one with the age 25.")

He entered into silver jubilee

In [10]:
students.append("Pujitha")

In [11]:
print(students)

['Sai Preetham', 'Anajana', 'Sharmila', 'Pavani', 'Krishna', 'Tejaswari', 'Pujitha']

### adding elements into a list

In [12]:
# students.append("subhashini", "venkat", "lokesh")

In [13]:
students.append("subhashini")
students.append("venkateswara")
students.append("lokesh")

print(students)

['Sai Preetham', 'Anajana', 'Sharmila', 'Pavani', 'Krishna', 'Tejaswari', 'Pujitha', 'subhashini', 'venkateswara', 'lokesh']

In [14]:
cities = ["Hyd", "Bng", "Chennai"]

In [15]:
cities.append(("Kolkatha", "Delhi"))

print(cities)

['Hyd', 'Bng', 'Chennai', ('Kolkatha', 'Delhi')]

In [16]:
len(cities)

4

In [17]:
cities.extend(("Mysore", "Goa", "Pondicherry"))

print(cities)

['Hyd', 'Bng', 'Chennai', ('Kolkatha', 'Delhi'), 'Mysore', 'Goa', 'Pondicherry']

In [18]:
len(cities)

7

In [19]:
cities.insert(1, "Mumbai")

print(cities)

['Hyd', 'Mumbai', 'Bng', 'Chennai', ('Kolkatha', 'Delhi'), 'Mysore', 'Goa', 'Pondicherry']

In [20]:
# s = "sai"

# s.append("kri")

In [21]:
temp = list()          # temp = []

print(temp)

[]

In [22]:
print(cities)

['Hyd', 'Mumbai', 'Bng', 'Chennai', ('Kolkatha', 'Delhi'), 'Mysore', 'Goa', 'Pondicherry']

### modifying elements inside a list

In [23]:
cities[0] = "Hyderabad"
cities[2] = "Bengaluru"

print(cities)

['Hyderabad', 'Mumbai', 'Bengaluru', 'Chennai', ('Kolkatha', 'Delhi'), 'Mysore', 'Goa', 'Pondicherry']

In [24]:
# cities[-2:] = "Gujarat"

# print(cities)

In [25]:
# cities[-2:] = ["Gujarat"]

# print(cities)

### deleting elements inside a list
* pop
* remove
* delete

In [26]:
cities.pop()

'Pondicherry'

In [27]:
metro_city = cities.pop(-4)

In [28]:
print(cities)

['Hyderabad', 'Mumbai', 'Bengaluru', ('Kolkatha', 'Delhi'), 'Mysore', 'Goa']

In [29]:
cities.remove("Mysore")

In [30]:
print(cities)

['Hyderabad', 'Mumbai', 'Bengaluru', ('Kolkatha', 'Delhi'), 'Goa']

In [31]:
# cities.pop(-1, -2)

In [32]:
# cities.remove("Hyderabad", "Goa")

In [33]:
del cities[-2]

In [34]:
print(cities)

['Hyderabad', 'Mumbai', 'Bengaluru', 'Goa']

In [35]:
print(metro_city)

Chennai

In [36]:
# cities.clear()

print(cities)

['Hyderabad', 'Mumbai', 'Bengaluru', 'Goa']

### loop/iter elements inside a list

In [37]:
for i in cities:
    print(i)

Hyderabad
Mumbai
Bengaluru
Goa

In [38]:
for i in range(len(cities)):
    print(i)

0
1
2
3

In [39]:
for i in range(len(cities)):
    print(f"city{i} : {cities[i]}")

city0 : Hyderabad
city1 : Mumbai
city2 : Bengaluru
city3 : Goa

In [40]:
for i in range(10):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [41]:
for i in range(3,10):
    print(i)

3
4
5
6
7
8
9

In [42]:
for i in range(1,10,2):
    print(i)

1
3
5
7
9

In [43]:
for i in range(1, 10):
    if i%2 != 0:
        print(i)

1
3
5
7
9

* Store all the even natural numbers till 50 in a list

In [44]:
even_numbers = []

for i in range(2, 51):
    if i%2 == 0:
        even_numbers.append(i)

print(even_numbers)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50]

# enumerate

In [5]:
x = [10, 20, 30]

for i in range(len(x)):
    print(i)

print()

for i in x:
    print(i)

print()

for i in enumerate(x):
    print(i)

0
1
2

10
20
30

(0, 10)
(1, 20)
(2, 30)

In [7]:
x = [11, 21, 31]

for i in enumerate(x):
    print(i[0] + i[1])

11
22
33

### List Comprehension
* It can only be used hen u have a single statement.

* Store all the odd natural numbers till 50 in a list

In [45]:
odd_numbers = [num for num in range(1, 50) if num%2 != 0]

print(odd_numbers)

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29, 31, 33, 35, 37, 39, 41, 43, 45, 47, 49]

In [46]:
print(cities)

['Hyderabad', 'Mumbai', 'Bengaluru', 'Goa']

In [47]:
temp = []

for city in cities:
    if city == "Goa":
        temp.append("Goa")
    else:
        temp.append("Not-a-Goa")

print(temp)

['Not-a-Goa', 'Not-a-Goa', 'Not-a-Goa', 'Goa']

In [48]:
filtered_cities = ["Enjoy the Beach" if city == "Goa" else "Go and Work" for city in cities]

print(filtered_cities)

['Go and Work', 'Go and Work', 'Go and Work', 'Enjoy the Beach']

In [49]:
cities = ['Hyderabad', 'Mumbai', 'Bengaluru', 'Kolkatha', 'Delhi', 'Mysore', 'Goa']

In [50]:
cities.sort()

print(cities)

['Bengaluru', 'Delhi', 'Goa', 'Hyderabad', 'Kolkatha', 'Mumbai', 'Mysore']

In [51]:
cities.sort(reverse=True)

print(cities)

['Mysore', 'Mumbai', 'Kolkatha', 'Hyderabad', 'Goa', 'Delhi', 'Bengaluru']

In [52]:
cities = ['Hyderabad', 'Mumbai', 'Bengaluru', 'Kolkatha', 'Delhi', 'Mysore', 'Goa']

In [53]:
cities.reverse()           # cities[::-1]

print(cities)

['Goa', 'Mysore', 'Delhi', 'Kolkatha', 'Bengaluru', 'Mumbai', 'Hyderabad']

### Joins

In [60]:
emp_names = ["sai preetham", "bhargav", "arjun"]
emp_id = [8133398, 5679872, 9876543]

temp = emp_names + emp_id

print(emp_names)
print(emp_id)
print(temp)

['sai preetham', 'bhargav', 'arjun']
[8133398, 5679872, 9876543]
['sai preetham', 'bhargav', 'arjun', 8133398, 5679872, 9876543]

In [55]:
emp_names = ["sai preetham", "bhargav", "arjun"]
emp_id = [8133398, 5679872, 9876543]

emp_names.extend(emp_id)

print(emp_names)
print(emp_id)

['sai preetham', 'bhargav', 'arjun', 8133398, 5679872, 9876543]
[8133398, 5679872, 9876543]

In [56]:
emp_names = ["sai preetham", "bhargav", "arjun"]

emp_names.extend(("sai", "krishna", "venkat"))

print(emp_names)

['sai preetham', 'bhargav', 'arjun', 'sai', 'krishna', 'venkat']

In [57]:
emp_names = ["sai preetham", "bhargav", "arjun"]
emp_id = [8133398, 5679872, 9876543]

emp_names.append("sai")
emp_names.append(("hari", "rohit", "kajal"))

print(emp_names)

['sai preetham', 'bhargav', 'arjun', 'sai', ('hari', 'rohit', 'kajal')]

### copy

In [ ]:
fruits = ["apple", "banana", "cherry"]

x = fruits.copy()                # x = fruits

x.reverse()

print(x)
print(fruits)

['cherry', 'banana', 'apple']
['apple', 'banana', 'cherry']

### Nested Lists

In [5]:
temp = ["car", "bike", "ship", ["sai", "krishna", "subhashini", "venkat"], "pawani", "tejeswini"]

print(temp)

['car', 'bike', 'ship', ['sai', 'krishna', 'subhashini', 'venkat'], 'pawani', 'tejeswini']

In [8]:
print(temp[0])
print(temp[1])
print(temp[2])
print(temp[3])

car
bike
ship
['sai', 'krishna', 'subhashini', 'venkat']

In [9]:
print(temp[3][1])

krishna