# Sets
* It is un-ordered.
* It contains only unique values.

In [1]:
myset = {"apple", "banana", "cherry"}              # myset = set(("sai", 24, "A.P"))

print(myset)

{'apple', 'cherry', 'banana'}

In [2]:
temp = {"apple", "banana", "cherry", "apple", 1, True, False, 0}

print(temp)
print(f"Length of temp : {len(temp)}")

{'apple', 1, False, 'cherry', 'banana'}
Length of temp : 5

In [3]:
thisset = set(("apple", "banana", "cherry"))       # note the double round-brackets
print(thisset)

{'apple', 'cherry', 'banana'}

### accessing the set elements

In [4]:
# temp[0]

In [5]:
# temp[:]

In [6]:
for i in temp:
    print(i)

apple
1
False
cherry
banana

In [7]:
print("apple" in temp)
print("sai" not in temp)

True
True

### adding elements into set

In [8]:
thisset.add("orange")
# thisset.add("kiwi", "papaya")
# thisset.add({"kiwi", "papaya"})

print(thisset)

{'apple', 'orange', 'cherry', 'banana'}

In [9]:
thisset.update({"kiwi", "papaya"})
print(thisset)

{'apple', 'papaya', 'kiwi', 'orange', 'cherry', 'banana'}

### removing elements in a set

In [10]:
thisset.remove("banana")
# thisset.remove("sai")

print(thisset)

{'apple', 'papaya', 'kiwi', 'orange', 'cherry'}

In [11]:
thisset.discard("cherry")
thisset.discard("sai")

print(thisset)

{'apple', 'papaya', 'kiwi', 'orange'}

In [12]:
thisset.pop()
print(thisset)

{'papaya', 'kiwi', 'orange'}

In [13]:
set1 = {"a", "b", "c"}
set2 = {1, 2, 3}

set3 = set1 | set2          # set3 = set1.union(set2)
print(set3)

{1, 'c', 2, 3, 'a', 'b'}

In [14]:
set1 = {"apple", "banana", "cherry"}
set2 = {"google", "microsoft", "apple"}

set3 = set1 & set2       # set3 = set1.intersection(set2)
print(set3)

{'apple'}

In [15]:
set1 = {"apple", "banana", "cherry"}
set2 = {"google", "microsoft", "apple"}

print(set1 - set2)            # set1.difference(set2)

{'cherry', 'banana'}

In [16]:
print(set2.difference(set1))

{'microsoft', 'google'}

In [17]:
temp1 = set1 | set2

print(temp1)

{'apple', 'microsoft', 'google', 'cherry', 'banana'}

In [18]:
temp2 = set1 & set2

print(temp2)

{'apple'}

In [19]:
print(temp1 - temp2)

{'banana', 'microsoft', 'cherry', 'google'}