# Pandas

In [1]:
# ! pip install pandas

In [2]:
import pandas as pd

## read csv file.

In [ ]:
df = pd.read_csv("/Users/saipreetham/Documents/AI-ML/Data_Sets/anime_recommendation_dataset.csv")

display(df)

,title,synopsis,genres,episodes,score,characters
0,Cowboy Bebop,"Enter a world in the distant future, where Bou...","Action, Adventure, Drama, Sci-Fi",26.0,86,"Spike Spiegel, Ein, Faye Valentine, Rhint Celo..."
1,Cowboy Bebop: Tengoku no Tobira,"As the Cowboy Bebop crew travels the stars, th...","Action, Drama, Mystery, Sci-Fi",1.0,82,"Spike Spiegel, Ein, Faye Valentine, Lee Samson..."
2,TRIGUN,Vash the Stampede is a wanted man with a habit...,"Action, Adventure, Comedy, Drama, Sci-Fi",26.0,80,"Kuroneko, Milly Thompson, Vash the Stampede, R..."
3,Witch Hunter ROBIN,Robin Sena is a powerful craft user drafted in...,"Action, Drama, Mystery, Supernatural",26.0,68,"Haruto Sakaki, Akio Kurosawa, Amon, Miho Karas..."
4,Bouken Ou Beet,It is the dark century and the people are suff...,"Adventure, Fantasy, Supernatural",52.0,65,"Kissu, Zenon, Beet, Poala, Beltoze, Milfa, Gru..."
...,...,...,...,...,...,...
195,Kidou Senkan Nadesico,Akito doesn't want to fight. Despite a childho...,"Action, Comedy, Mecha, Romance, Sci-Fi",26.0,73,"Gai Daigouji, Tsukumo Shiratori, Genichirou Ts..."
196,Kidou Senkan Nadesico: The prince of darkness,"Two years have passed since the end of the ""Ma...","Action, Comedy, Drama, Mecha, Sci-Fi",1.0,64,"Genichirou Tsukiomi, Hokushin, Saburouta Takas..."
197,Kuro no Danshou,Based on the erotic game by Abogado Powers & O...,"Hentai, Horror, Mystery",4.0,45,"Satoshi Suzusaki, Asuka Kashiwagi, Mina Shizui..."
198,Mezzo Forte,"Mikura, a member of a mercenary team, is asked...","Action, Comedy, Hentai, Sci-Fi",2.0,64,"Momomi Momoi, Hirooka, Tomohisa Harada, Mikura..."
199,MEZZO,"Mikura, Kurokawa, and Harada are the 3 members...","Action, Adventure, Comedy, Mystery, Sci-Fi",13.0,62,"Tomohisa Harada, Mugiyama Sayoki, Manon Asakur..."

### head ---> top 5 rows

In [4]:
display(df.head())

,title,synopsis,genres,episodes,score,characters
0,Cowboy Bebop,"Enter a world in the distant future, where Bou...","Action, Adventure, Drama, Sci-Fi",26.0,86,"Spike Spiegel, Ein, Faye Valentine, Rhint Celo..."
1,Cowboy Bebop: Tengoku no Tobira,"As the Cowboy Bebop crew travels the stars, th...","Action, Drama, Mystery, Sci-Fi",1.0,82,"Spike Spiegel, Ein, Faye Valentine, Lee Samson..."
2,TRIGUN,Vash the Stampede is a wanted man with a habit...,"Action, Adventure, Comedy, Drama, Sci-Fi",26.0,80,"Kuroneko, Milly Thompson, Vash the Stampede, R..."
3,Witch Hunter ROBIN,Robin Sena is a powerful craft user drafted in...,"Action, Drama, Mystery, Supernatural",26.0,68,"Haruto Sakaki, Akio Kurosawa, Amon, Miho Karas..."
4,Bouken Ou Beet,It is the dark century and the people are suff...,"Adventure, Fantasy, Supernatural",52.0,65,"Kissu, Zenon, Beet, Poala, Beltoze, Milfa, Gru..."

### tail ---> last 5 rows

In [5]:
display(df.tail())

,title,synopsis,genres,episodes,score,characters
195,Kidou Senkan Nadesico,Akito doesn't want to fight. Despite a childho...,"Action, Comedy, Mecha, Romance, Sci-Fi",26.0,73,"Gai Daigouji, Tsukumo Shiratori, Genichirou Ts..."
196,Kidou Senkan Nadesico: The prince of darkness,"Two years have passed since the end of the ""Ma...","Action, Comedy, Drama, Mecha, Sci-Fi",1.0,64,"Genichirou Tsukiomi, Hokushin, Saburouta Takas..."
197,Kuro no Danshou,Based on the erotic game by Abogado Powers & O...,"Hentai, Horror, Mystery",4.0,45,"Satoshi Suzusaki, Asuka Kashiwagi, Mina Shizui..."
198,Mezzo Forte,"Mikura, a member of a mercenary team, is asked...","Action, Comedy, Hentai, Sci-Fi",2.0,64,"Momomi Momoi, Hirooka, Tomohisa Harada, Mikura..."
199,MEZZO,"Mikura, Kurokawa, and Harada are the 3 members...","Action, Adventure, Comedy, Mystery, Sci-Fi",13.0,62,"Tomohisa Harada, Mugiyama Sayoki, Manon Asakur..."

In [6]:
display(df.head(3))
print()
display(df.tail(1))

,title,synopsis,genres,episodes,score,characters
0,Cowboy Bebop,"Enter a world in the distant future, where Bou...","Action, Adventure, Drama, Sci-Fi",26.0,86,"Spike Spiegel, Ein, Faye Valentine, Rhint Celo..."
1,Cowboy Bebop: Tengoku no Tobira,"As the Cowboy Bebop crew travels the stars, th...","Action, Drama, Mystery, Sci-Fi",1.0,82,"Spike Spiegel, Ein, Faye Valentine, Lee Samson..."
2,TRIGUN,Vash the Stampede is a wanted man with a habit...,"Action, Adventure, Comedy, Drama, Sci-Fi",26.0,80,"Kuroneko, Milly Thompson, Vash the Stampede, R..."

,title,synopsis,genres,episodes,score,characters
199,MEZZO,"Mikura, Kurokawa, and Harada are the 3 members...","Action, Adventure, Comedy, Mystery, Sci-Fi",13.0,62,"Tomohisa Harada, Mugiyama Sayoki, Manon Asakur..."

## creating a dataframe

In [7]:
students = {
    "SUC_Code" : [2454640258, 2454640259, 2454640260],
    "Std_Name" : ["Siri Varshini", "Rohini", "Yamini"]
}

students_df = pd.DataFrame(students)

display(students_df)

     SUC_Code       Std_Name
0  2454640258  Siri Varshini
1  2454640259         Rohini
2  2454640260         Yamini

In [8]:
students = {
    "SUC_Code" : [2454640258, 2454640259, 2454640260],
    "Std_Name" : ["Siri Varshini", "Rohini", "Yamini"]
}

students_df = pd.DataFrame(students, index=["a", "b", "c"])

display(students_df)

     SUC_Code       Std_Name
a  2454640258  Siri Varshini
b  2454640259         Rohini
c  2454640260         Yamini

## accessing data
* loc
* iloc

In [9]:
students_df.loc["c"]

SUC_Code    2454640260
Std_Name        Yamini
Name: c, dtype: object

In [10]:
students_df.iloc[0]

SUC_Code       2454640258
Std_Name    Siri Varshini
Name: a, dtype: object

In [11]:
print(students_df.loc["b", "Std_Name"])

Rohini

In [12]:
print(students_df.iloc[1, 1])

Rohini

In [13]:
print(students_df.loc["c", "SUC_Code"])

2454640260

In [14]:
print(students_df.iloc[2, 0])

2454640260

In [15]:
students_df["Std_Name"]

a    Siri Varshini
b           Rohini
c           Yamini
Name: Std_Name, dtype: object

In [16]:
students_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 3 entries, a to c
Data columns (total 2 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   SUC_Code  3 non-null      int64
 1   Std_Name  3 non-null      object
dtypes: int64(1), object(1)
memory usage: 180.0+ bytes